*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}
body{
    background-color:  hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card{
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 0px black;
    max-width: 320px;
    text-align: left;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
h4{
    background-color:  hsl(47, 88%, 63%);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}
p{
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    margin: 10px 0;

}
h2{
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}
.profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.profile h6{
    font-weight: bold;
    font-size: 15px;
}